<nav style="background-color: #2c2c54;" class="p-2 navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid" >
        <a style="margin-right: 10%;" class="navbar-brand text-white fw-bold" href="#">En cours <i class="bi bi-play-circle text-success" style="font-size: 2rem;"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" (click)="goToHome()" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="#" tabindex="-1" aria-disabled="true">Friend Zone</a>
          </li>
        </ul>

        <div class="m-4">
           <a class="nav-link text-white border p-2" href="#">Login <i class="bi bi-box-arrow-in-right"></i></a>
        </div>
        <!--my search forms-->
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <!--my search forms-->

      </div>
    </div>
  </nav>
